@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  display: inline-block;
  padding: 4px 10px;
  cursor: pointer;
}

.btn-primary {
  @apply bg-primary border-primary;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  color: #fff;
  transition: 200ms;
}

.btn-primary:hover {
  @apply bg-primary-hover border-primary-hover;
  color: #eee;
  transition: 200ms;
}

.btn-primary:active {
  @apply bg-primary-active border-primary-active;
  color: #ddd;
  transition: 200ms;
}

.btn-secondary {
  @apply text-primary border-primary;
  background: #fff;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  transition: 200ms;
}

.btn-secondary:hover {
  @apply text-primary-hover border-primary-hover;
  background: #eee;
  transition: 200ms;
}

.btn-secondary:active {
  @apply text-primary-active border-primary-active;
  background: #ddd;
  transition: 200ms;
}
